PostAround-Site/App_WebReferences/PostAroundService/PostAround.Entities1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PostAround.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PostAround.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDetail" nillable="true" type="tns:LoginDetail" />
  <xs:complexType name="UserPermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="permissionId" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:boolean" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPermission" nillable="true" type="tns:UserPermission" />
  <xs:complexType name="ArrayOfMyMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyMessage" nillable="true" type="tns:MyMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyMessage" nillable="true" type="tns:ArrayOfMyMessage" />
  <xs:complexType name="MyMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentsNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImageHeight" type="xs:int" />
      <xs:element minOccurs="0" name="Mine" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="catColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="catID" type="xs:int" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="facebookID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgId" type="xs:int" />
      <xs:element minOccurs="0" name="regionID" type="xs:int" />
      <xs:element minOccurs="0" name="relativeDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titleSlugged" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalShares" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
      <xs:element minOccurs="0" name="userImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyMessage" nillable="true" type="tns:MyMessage" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Mine" type="xs:boolean" />
      <xs:element minOccurs="0" name="avatarImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commentUserLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="messageID" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="avatarImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="facebookID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="facebookToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latidute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longtitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timezone" type="xs:int" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Feedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feedback" nillable="true" type="tns:Feedback" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="CommentResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentResult" nillable="true" type="tns:CommentResult" />
</xs:schema>